/* https://colorhunt.co/palette/2c3333395b642666cff5f2e7 */

body {
  margin: 0;
  overflow: hidden;
  background-color: gray;
  font-size: 16px;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}