/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

:root {
  --black: #222831;
  --grey: #393E46;
  --teal: #00ADB5;
  --light-gray: #EEEEEE;
  --solid-white: #ffffff;
  --solid-black: #000000;
  --lime-green: #32CD32;
  --red: #ff0000;

  --header-font-size: 25px;
  --base-font-size: 16px;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  font-size: 16px;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}