.kennel_creator_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--solid-black);
  text-transform: uppercase;
}

.kennel_creator_checkbox input {
  width: 1.5em;
  height: 1.5em;
}