.kennel_container {
  position: absolute;
  width: 950px;
  height: 400px;
  top: calc(50% + 200px);
  left: calc(50% - 375px);
}

.kennel_header {
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: #2666CF;
  border-radius: 10px 10px 0 0;
}

.kennel_header_creator_open {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  top: -15px;
  user-select: none;
  border-width: 3px;
  border-color: transparent;
  border-style: solid;
  font-size: 16px;
}

.kennel_body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #2C3333;
  border-radius: 0 0 10px 10px;
  max-height: 100%;
  overflow: auto;
}

.kennel_body::-webkit-scrollbar {
  width: 15px;
  background: #395B64;
}

.kennel_body::-webkit-scrollbar-thumb {
  background: #2666CF;
  border-radius: 10px 10px 10px 10px;
}

.kennel_body::-webkit-scrollbar-thumb:hover {
  background: #F5F2E7;
}

.kennel_container_grayscale {
  position: absolute;
  filter: grayscale(0.20);
  width: 100%;
  height: calc(100% + 90px);
  background-color: rgba(0, 0, 0, 0.8) !important;
  top: 0px;
  left: 0px;
  border-radius: 10px;
}