.kennel_create_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.kennel_create_input_label {
  text-align: center;
  width: 300px;
  background-color: #2666CF;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.kennel_create_input_handler {
  width: 75%;
  padding: 10px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  background-color: #F5F2E7;
}

.kennel_create_input_handler:focus {
  outline: none;
  border-color: #2666CF;
}