.kennel_create_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.kennel_create_dropdown_label {
  text-align: center;
  width: 300px;
  background-color: #2666CF;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.kennel_create_dropdown_button {
  width: 300px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #395B64;
  border-radius: 10px;
}

.kennel_create_dropdown_button:hover .kennel_create_dropdown_list {
  display: flex;
  flex-direction: column;
}

.kennel_create_dropdown_option {
  text-align: center;
}

.kennel_create_dropdown_button:hover .kennel_create_dropdown_option {
  margin-bottom: 10px;
}

.kennel_create_dropdown_list {
  position: relative;
  display: none;
  background-color: #395B64;
}

.kennel_create_dropdown_item {
  width: 270px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #2C3333;
  margin: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
}

.kennel_create_dropdown_item:hover {
  border-color: #F5F2E7;
}