.kennel_creator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
}

.kennel_creator_header {
  font-size: var(--header-font-size);
  padding: 1rem;
  text-align: center;
  color: var(--solid-white);
  background-color: var(--solid-black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.kennel_creator_body {
  content: "";
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--black);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--solid-white);
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2em;
}

.kennel_creator_body::-webkit-scrollbar {
  background-color: var(--solid-black);
}

.kennel_creator_body::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}