.kennel_card {
  color: var(--solid-white);
  margin: 0.2rem;
  font-size: var(--base-font-size);
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  border-radius: 10px;
  user-select: none;
  opacity: 0.8;
  flex: 1 0 40%;
}

.kennel_card:hover {
  opacity: 1.0;
}

.kennel_card_header {
  padding: 0.5em;
  font-size: var(--header-font-size);
  color: var(--solid-white);
  text-align: center;
  background-color: var(--black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.kennel_card:hover .kennel_card_header {
  background-color: var(--solid-black);
}

.kennel_card_body {
  background-color: var(--black);
}

.kennel_card_body_info {
  display: flex;
  justify-content: space-between;
}

.kennel_card_body_info_title {
  margin: 1em;
}

.kennel_card_body_info_data {
  margin: 1em;
}

.kennel_card_footer {
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
}

.kennel_card_button {
  display: flex;
  padding: 1em;
  margin: 1em;
  width: 5em;
  border-radius: 10px;
  height: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.8;
}

.kennel_card_button:hover {
  opacity: 1;
}

.kennel_card_select {
  content: url("../../../images/icons/check.svg");
  background-color: var(--lime-green);
}

.kennel_card_delete {
  content: url("../../../images/icons/delete.svg");
  background-color: var(--red);
}