.kennel_card_actions {
  position: relative;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.kennel_card_action {
  height: 35px;
  margin: 5px;
  border-radius: 10px;
  color: white;
  border-width: 3px;
  border-color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.kennel_card_action:hover {
  background-color: white;
  color: black;
}

.kennel-card-action-success {
  background-color: #2666CF;
}

.kennel-card-action-error {
  background-color: #2C3333;
}