.kennel_create_form {
  position: absolute;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.kennel_create_form_header {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: #2666CF;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.kennel_create_form_header_close {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  top: -15px;
  border-width: 3px;
  border-color: transparent;
  border-style: solid;
  font-size: 16px;
}

.kennel_create_form_header_close:hover {
  border-color: white;
}

.kennel_create_form_body {
  background-color: #2C3333;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.kennel_create_form_body::-webkit-scrollbar {
  width: 15px;
  background: #395B64;
}

.kennel_create_form_body::-webkit-scrollbar-thumb {
  background: #2666CF;
}

.kennel_create_form_body::-webkit-scrollbar-thumb:hover {
  background: #F5F2E7;
}

.kennel_create_form_animate_in {
  animation-name: fade-in !important;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.kennel_create_form_animate_out {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 100%;
    transform: translate(-50%, -50%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0%;
    transform: translate(-50%, 100%);
  }
}